body {
  background-image :url("Image\speed.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
h1 {
  background: linear-gradient(to left, black, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
p {
  /* background-color: skyblue; */
  background: linear-gradient(to right, skyblue, yellow);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
